@model TeamListingVM
@{
    ViewData["Title"] = $"All Teams - {Model.Page.TotalCount}";
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_Pagination", Model.Page)
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Unique Name</th>
            <th>Games Count</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1; }
        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@count</td>
                <td><a asp-controller="Teams" asp-action="ById" asp-route-teamId="@team.Id">@team.Name</a></td>
                <td>@team.UniqueName</td>
                <td>@team.TeamGamesCount</td>
            </tr>
            count++;
        }
    </tbody>
</table>

@Html.Partial("_Pagination", Model.Page)

