@model LeagueListingVM
@{
    ViewData["Title"] = $"All Leagues - {Model.Page.TotalCount}";
}
<h2>@ViewData["Title"]</h2>

@Html.Partial("_Pagination", Model.Page)
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Unique Name</th>
            <th>Games Count</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1; }
        @foreach (var league in Model.Leagues)
        {
            <tr>
                <td>@count</td>
                <td>@league.Name</td>
                <td><a asp-controller="Leagues" asp-action="ById" asp-route-leagueId="@league.Id">@league.UniqueName</a></td>
                <td>@league.LeagueGamesCount</td>
            </tr>
            count++;
        }
    </tbody>
</table>

@Html.Partial("_Pagination", Model.Page)
