@model FootballGamePM

<table class="table table-bordered table-hover table-nowrap">
    <thead>
        <tr>
            <th>Date</th>
            <th>League </th>
            <th>Home Team</th>
            <th>Away Team</th>
            @if (Model.FullTimeResult != null)
            {
                <th>FT</th>
                <th>HT</th>
                <th>Statistic</th>
            }
            <th>HTWin</th>
            <th>Draw</th>
            <th>ATWin</th>
            <th>HTWBBT</th>
            <th>ATWBBT</th>
            <th>HTCor</th>
            <th>ATCor</th>
            <th>SumCor</th>
            <th>Over8Cor</th>
            <th>Under8Cor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a asp-action="DateGames" asp-route-date="@(Model.MatchDate.ToString("dd-MM-yyyy"))">@(Model.MatchDate.ToString("dd-MM-yy HH:mm"))</a></td>
            <td>@($"{Model.League.Country},{Model.League.Name},{Model.League.Year},{Model.League.Stage}")</td>
            @if (Model.FullTimeResult != null)
            {
                <td class="@(Model.FullTimeResult.Result == ResultEnum.H ? "winnerBold" : "")">@Model.HomeTeam.Name</td>
                <td class="@(Model.FullTimeResult.Result == ResultEnum.A ? "winnerBold" : "")">@Model.AwayTeam.Name</td>
            }
            else
            {
                <td>@Model.HomeTeam.Name</td>
                <td>@Model.AwayTeam.Name</td>
            }

            @if (Model.FullTimeResult != null)
            {
                <td>@($"{ Model.FullTimeResult.HomeTeamGoals} - {Model.FullTimeResult.AwayTeamGoals}")</td>

                @if (Model.FirstHalfResult != null)
                {
                    <td>@($"{Model.FirstHalfResult.HomeTeamGoals} - {Model.FirstHalfResult.AwayTeamGoals}")</td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.GameStatistic != null)
                {
                    <td>@($"{Model.GameStatistic.ToString()}")</td>
                }
                else
                {
                    <td></td>
                }
            }            

            @if (Model.Predictions.Count() != 0)
            {
                <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.HTWin).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                    <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.Draw).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                    <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.ATWin).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>

                    @if (Model.Predictions.Any(p => p.Name == ServiceConstants.HTWinBetweenBothTeams))
                    {
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.HTWinBetweenBothTeams).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.ATWinBetweenBothTeams).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                    @if (Model.Predictions.Any(p => p.Name == ServiceConstants.HTCorners))
                    {
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.HTCorners).Select(p => p.Procent.ToString("0")).FirstOrDefault()</td>
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.ATCorners).Select(p => p.Procent.ToString("0")).FirstOrDefault()</td>
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.SumCorners).Select(p => p.Procent.ToString("0")).FirstOrDefault()</td>
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.Over8Corners).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                        <td>@Model.Predictions.Where(p => p.Name == ServiceConstants.Under12Corners).Select(p => p.Procent.ToString("0.00")).FirstOrDefault()</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
            }
            else
            {
                <td></td>
                    <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
            }
        </tr>

    </tbody>
</table>